@page
@model Web01.Pages.Blog.SingleModel
@{
    Layout = "_Layout";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blog单页</title>
</head>
<body>
    <h1>这是Blog单页</h1>

    <h3>@Model.Blog.Title</h3>
    <a href="/Blog/Delete?id=@Model.Blog.Id">删除</a>
    <p>作者：@Model.Blog.Author.Name</p>
    <main>
        @Html.Raw(Model.Blog.Body)
    </main>
    <h5>评论</h5>

    @foreach (var item in Model.Blog.Posts)
    {
        <div>@item.Content <span>作者：@item.Author.Name</span> </div>

    }

    <h4>留言</h4>
    <form method="post">
        <textarea asp-for="NewPost.Content"></textarea><br />
        <button type ="submit">提交</button>
    </form>
</body>
</html>
