@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

@section bar {
}

@*<div >
        @{

            string color;
            for (int i = 1; i < 6; i++)
            {
                color = i % 2 == 0 ? "blue" : "red";
                {
                    for (int j = 0; j < i * 2 - 1; j++)
                    {

                        if (i % 2 == 1)
                        {
                            <span style="color:@(color)"> i </span>
                        }
                        else
                        { <span style="color:@(color)"> i </span>}

                    }
                    <br />
                }
            }
        }
    </div>*@
}
<p>Use this area to provide additional information.</p>
