@page
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>打地鼠</title>

    <style type="text/css">
        body {
            background: url(./images/Gophers/背景.jpg) no-repeat center center;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body>


    @*<table border="2" width=50 height=50 align="center">
            <tr>
                <td height="280"></td>
            </tr>
            <tr>
                <td></td>
                <td align="center"><img src="~/images/Gophers/坏地鼠.png" height="55"></td>
                <td></td>
                <td align="center"><img src="~/images/Gophers/萌地鼠.png" height="55"></td>
                <td></td>
            </tr>
            <tr>
                <td align="center"></td>
                <td class="mound" id="mouse-up1" align="justify"><img src="~/images/Gophers/土堆.png" height="25%"></td>
                <td></td>
                <td class="mound" id="mouse-up2"><img src="~/images/Gophers/土堆.png" height="25%"></td>
                <td></td>
            </tr>
            <tr>
                <td class="mound" id="mouse-up3"><img src="~/images/Gophers/土堆.png" height="25%"></tdid="mouse-up2">
                <td></td>
                <td class="mound" id="mouse-up4"><img src="~/images/Gophers/土堆.png" height="25%"></td>
                <td></td>
                <td class="mound" id="mouse-up5"><img src="~/images/Gophers/土堆.png" height="25%"></td>
            </tr>
            <tr>
                <td></td>
                <td class="mound" id="mouse-up6"><img src="~/images/Gophers/土堆.png" height="25%"></td>
                <td></td>
                <td class="mound" id="mouse-up7"><img src="~/images/Gophers/土堆.png" height="25%"></td>
                <td></td>
            </tr>
            <tr>
                <td class="mound" id="mouse-up8"><img src="~/images/Gophers/土堆.png" height="25%"></td>
                <td></td>
                <td class="mound" id="mouse-up9"><img src="~/images/Gophers/土堆.png" height="25%"></td>
                <td></td>
                <td class="mound" id="mouse-up10"><img src="~/images/Gophers/土堆.png" height="25%"></td>
            </tr>
            <tr>
                <td></td>
                <td class="mound" id="mouse-up11"><img src="~/images/Gophers/土堆.png" height="25%"></td>
                <td></td>
                <td class="mound" id="mouse-up12"><img src="~/images/Gophers/土堆.png" height="25%"></td>
                <td></td>
            </tr>
        </table>*@

    <div style="height:1000px;">

    </div>


    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        //获取页面顶部被卷起来的高度
 Math.max(document.body.scrollTop);
        
        //获取页面文档的总高度
 Math.max(document.body.scrollHeight);

        //获取页面浏览器视口的高度
 document.body.clientHeight;

    </script>



</body>
</html>







