@page
@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>打地鼠</title>

    <style type="text/css">
        body {
            background: url(./images/Gophers/背景.jpg) no-repeat center center;
            background-size: cover;
            background-attachment: fixed;
            text-align: center
        }

        #divcss5 {
            margin: 0 auto;
            border: 1px solid #000;
            width: 300px;
            height: 100px
        }

        table {
            width: 800px;
            height: 500px;
        }

        td {
            padding:20px 75px 0 75px;
            position:relative;
            padding-top:40px;
            height: 5px;
            text-align: center;
            vertical-align: bottom;
        }

        .main {
            position: absolute;
            width: 100%;
            top: 120px;
            bottom: 120px;
            height: auto;
        }

        .bad-mouse {
            z-index: 10;
            bottom:12px;
            right:120px;
            position:absolute;
        }

        .mound {
            z-index: 70;
        }
    </style>


</head>
<body>

    @*<td align="center"><img src="~/images/Gophers/坏地鼠.png" height="55"></td>
            align="center"
        <td align="center"><img src="~/images/Gophers/萌地鼠.png" height="55"></td>*@
    <div id="divcss5">
        <div class="main">

            <table border="1">

                <tr>

                    <td></td>
                    <td>
                        <img class="mound" id="mouse-up1" src="~/images/Gophers/土堆.png" /><img class="bad-mouse" src="~/images/Gophers/坏地鼠.png" />
                    </td>
                    <td></td>
                    <td class="mound" id="mouse-up2"><img src="~/images/Gophers/土堆.png"></td>
                    <td></td>

                </tr>
                <tr>

                    <td class="mound" id="mouse-up3"><img src="~/images/Gophers/土堆.png"></td>
                    <td></td>
                    <td class="mound" id="mouse-up4"><img src="~/images/Gophers/土堆.png"></td>
                    <td></td>
                    <td class="mound" id="mouse-up5"><img src="~/images/Gophers/土堆.png"></td>

                </tr>
                <tr>

                    <td></td>
                    <td class="mound" id="mouse-up6"><img src="~/images/Gophers/土堆.png"></td>
                    <td></td>
                    <td class="mound" id="mouse-up7"><img src="~/images/Gophers/土堆.png"></td>
                    <td></td>

                </tr>
                <tr>

                    <td class="mound" id="mouse-up8"><img src="~/images/Gophers/土堆.png"></td>
                    <td></td>
                    <td class="mound" id="mouse-up9"><img src="~/images/Gophers/土堆.png"></td>
                    <td></td>
                    <td class="mound" id="mouse-up10"><img src="~/images/Gophers/土堆.png"></td>

                </tr>
                <tr>

                    <td></td>
                    <td class="mound" id="mouse-up11"><img src="~/images/Gophers/土堆.png"></td>
                    <td></td>
                    <td class="mound" id="mouse-up12"><img src="~/images/Gophers/土堆.png"></td>
                    <td></td>

                </tr>
            </table>

        </div>

    </div>



</body>
</html>







