@page
@model Web01.Pages.HTML5APIModel
@{
    ViewData["Title"] = "HTML5API";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>HTML5API</h2>

@*1.参考求助列表页面，使用iframe，不刷新页面，动态加载不同的关键字
2.绘制一个canvas画布，当鼠标移到上面，显示鼠标所在位置的canvas坐标
3.打地鼠游戏中添加：
炸弹：每若干次地鼠中会有一次冒出来的是炸弹，敲中炸弹游戏over，ʅ(‾◡◝)ʃ
等级计分功能。可设置不同的难度或关卡，由玩家选择（规则写成《需求文档》后交叉开发）
最高分记录。游戏结束以后，如果玩家的成绩进了前三名，可以输入自己的名称，其记录（名称和成绩）由浏览器长期保存。*@
