@page
<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8" />
    <title>message</title>
</head>
<body>
    <h2>我的消息</h2>
    <table border="1">
        <tr>
            <th><label> 全选 <input name="checkAll" class="checks" type="checkbox" ></label></th>
            <th><label> 时间 </label></th>
            <th><label> 订阅种类 </label></th>
            <th><label> 内容 </label></th>
        </tr>
        <tr>
            <th><label><input name="check" class="checks" type="checkbox"></label></th>
            <th><label> 时间 </label></th>
            <th><label> 掉落 </label></th>
            <th><label> 恭喜！你已晋级到 高级学徒 ，  帮帮币 30枚已掉落，请尽快捡取（后台 - 我的主页 - 侧边栏 - 点击头像下用户名），或者马上领取（会扣除10%佣金）。否则， 2019年05月01日 14点08分后任何人都可捡取（查看规则）。 </label></th>
        </tr>
        <tr>
            <th><label><input name="check" class="checks" type="checkbox"></label></th>
            <th><label> 时间 </label></th>
            <th><label> 刷新 </label></th>
            <th><label> 你因为登录获得系统随机分配给你的 帮帮豆 6 枚，可用于感谢赞赏等。 </label></th>
        </tr>
        <tr>
            <th><label><input name="check" class="checks" type="checkbox"></label></th>
            <th><label> 时间 </label></th>
            <th><label> 刷新 </label></th>
            <th><label> 你因为登录获得系统随机分配给你的 帮帮豆 8 枚，可用于感谢赞赏等。 </label></th>
        </tr>
        <tr>
            <th><label><input name="check" class="checks" type="checkbox"></label></th>
            <th><label> 时间 </label></th>
            <th><label> 刷新 </label></th>
            <th><label> 你因为登录获得系统随机分配给你的 帮帮豆 10 枚，可用于感谢赞赏等。 </label></th>
        </tr>
        <tr>
            <th><label><input name="check" class="checks" type="checkbox"></label></th>
            <th><label> 时间 </label></th>
            <th><label> 刷新 </label></th>
            <th><label> 你因为登录获得系统随机分配给你的 帮帮豆 5 枚，可用于感谢赞赏等。 </label></th>
        </tr>
    </table>
</body>
</html>