@page
@using System.Reflection.Emit
@using System.Globalization

@model Web01.Pages.MonthModel
@{
    ViewData["Title"] = "Month";
    Layout = null;
}

<h2>Month</h2>


<table class="table table-striped" id="month">

    <tr>
        <th>一</th>
        <th>二</th>
        <th>三</th>
        <th>四</th>
        <th>五</th>
        <th>六</th>
        <th>日</th>
    </tr>

</table>
<form runat="server"></form>
<p>The time is @DateTime.Now</p>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>日期控件示例</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h3> 你的生日:</h3>
            <asp:Calendar ID="Calendar1" runat="server" SelectionMode="DayWeekMonth" onselectionchanged="Calendar1_SelectionChanged">
            </asp:Calendar>
        </div>

        <p>
            今天是:
            <asp:Label ID="lblday" runat="server"></asp:Label>
        </p>

        <p>
            你的生日是:
            <asp:Label ID="lblbday" runat="server"></asp:Label>
        </p>

    </form>
</body>
</html>




