@page
@model Web01.Pages.Register
@{ Layout = "_Layout"; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>注册界面</title>
</head>

<body onload="start()">
    <div align="center">
        @*<span id="flicker" class="glyphicon glyphicon-bell"></span>*@

    </div>
    <form onsubmit="passwordConfirm()" method="post" asp-page="/Register">
        <div>
            <label>用户名:<input asp-for="UserName" /></label>
        </div>
        <div>
            <label>密码:<input type="password" asp-for="Password" /></label>
        </div>
        <div>
            <label>确认密码:<input type="password" /></label>
        </div>
        <div>
            <label>性别:</label>
            <label><input type="radio" value="male" name="gender">男</label>
            <label><input type="radio" value="female" name="gender">女</label>
        </div>
        <div>
            <label>来自:</label>
            <select neme="province">
                <option value="js">江苏</option>
                <option value="hn">湖南</option>
                <option value="hlj">黑龙江</option>
            </select>
        </div>
        <div>
            <label>自我介绍:</label><br />
            <textarea name="self-introduction"></textarea>
        </div>

        <div>
            <button type="submit">提交</button>
            <button type="reset">重置</button>
        </div>
        @*<div>
            <input class="register-submits" type="submit" value="提交" />
            <input class="register-resets" type="reset" value="重置" />
            <label><input class="register-checkboxs" type="checkbox" id="remember" />记住我</label>
        </div>*@
    </form>

</body>

</html>

