@page
@model Web01.Pages.Log.OffModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Out</title>
</head>
<body>
<<<<<<< HEAD
    <div style="margin:auto">
        <h1 >成功退出登录</h1>
        <a href="/Index">点击这里返回首页</a>
    </div>
=======
>>>>>>> parent of df21264... 完成cookie退出
</body>
</html>
