@page
@model Web01.Pages.Log.OutModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Out</title>
</head>
<body>
</body>
</html>
