@page
@model OffModel
@{
    Layout = "_Layout";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Out</title>
</head>
<body>
    <div style="margin:auto">
        <h1 >成功退出登录</h1>
        <a href="/Index">点击这里返回首页</a>
    </div>
</body>
</html>
