@page
@model Web01.Pages.Problem.NewModel
@{
    ViewData["Title"] = "发布问题";
}


<div class="container">

    <div class="row">

        <div class="col-md-8">
            <h2 class="page-header">
                <span class="glyphicon glyphicon-question-sign"></span> 我要求助
            </h2>
            <form action="/Problem/New" method="post">
                <div class="checkbox clearfix">
                    <label class="pull-right text-primary">
                        <input type="checkbox" />需要远程协助
                    </label>
                </div>

                <div class="form-group">
                    <label>标题：（* 必填）</label>
                    <input asp-for="Title" class="form-control" placeholder="简明扼要，不超过255字" >
                </div>
                <div class="form-group">
                    <label>内容描述：（* 必填）</label>
                    <textarea asp-for="Body" class="form-control" placeholder="详细描述问题"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary ">提交</button>
                    <button type="reset" class="btn btn-default">清空</button>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

@*<div>
        <div class="form-group">

        </div>
        <div class="form-group">
            <label>关键字：（* 使用空格分隔）</label>
            <div zyf-keyword-show="" style="padding-bottom:3px;"></div>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default ">--- 1级 ---</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" zyf-keyword-dropdownlist="1">
                        <li><a data-keyword-id="163">编程开发语言</a></li>
                        <li><a data-keyword-id="162">工具软件</a></li>
                        <li><a data-keyword-id="164">顾问咨询</a></li>
                        <li><a data-keyword-id="161">操作系统</a></li>

                    </ul>
                </div>
                <div class="input-group-btn input-group-btn-middle" zyf-keyword-dropdownlist-2="">
                    <button type="button" class="btn btn-default ">--- 2级 ---</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" zyf-keyword-dropdownlist="2"></ul>
                </div>
                <input type="text" class="form-control" placeholder="自定义关键字，使用空格分隔" zyf-keyword-input="">
            </div>
            <input data-val="true" data-val-required="* 关键字不能为空" id="Keywords" name="Keywords" type="hidden" value="" zyf-keyword-submit-value="">
            <span class="field-validation-valid" data-valmsg-for="Keywords" data-valmsg-replace="true"></span>
        </div>
        <script>
            $(document).ready(function () {

                var oldKeywords = $("[zyf-keyword-submit-value]").val().split(" ");
                $("[zyf-keyword-submit-value]").val("");
                for (var i = 0; i < oldKeywords.length; i++) {
                    var keyword = $.trim(oldKeywords[i]);
                    if (oldKeywords[i] !== "") {
                        makeBadge(keyword, true);
                    }
                }

                //二级关键字为空时提示
                $('[zyf-keyword-dropdownlist-2]').on('show.bs.dropdown', function () {
                    if ($(this).find(".dropdown-menu").children().length === 0) {
                        showRemind('<span class="fa fa-info-circle text-info"></span> 还没有选择 --- 1级 --- 关键字呢。');
                    }
                })

            })
        </script>    <div class="form-group">
            <label>定向求助：（<a zyf-user-recommend="">推荐</a> <small><span class="fa fa-question-circle text-info" data-toggle="tooltip" title="" data-original-title="根据关键字筛选用户"></span></small>）</label>
            <div class="input-group">
                <span class="input-group-addon"></span>
                <input type="text" class="form-control" placeholder="输入你想要求助的大神用户名" zyf-problem-invitee-name="">

            </div>
            <div zyf-search-username-result=""></div>
        </div>
        <div class="form-group">
            <div class="checkbox pull-right" style="margin:0px; /*去除checkbox的影响*/">
                <label><input data-val="true" data-val-required="Settlement 字段是必需的。" id="Settlement" name="Settlement" type="checkbox" value="true" zyf-problem-reward-settlement=""><input name="Settlement" type="hidden" value="false">据实结算</label>
            </div>
            <label>
                悬赏
                <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                    <span class="iconfont icon-money"></span> 帮帮币
                </a>
                ：（<a href="/Money/Owner">现有<span zyf-current-money="" class="credit">0</span>枚</a>
                <small class="fa fa-refresh text-info" data-toggle="tooltip" title="" zyf-money-available-refresh="" data-original-title="刷新"></small>
                <input id="CurrentCredit" name="CurrentCredit" type="hidden" value="0" zyf-hide-current-money="">）
            </label>
            <div class="input-group">
                <span class="input-group-addon">
                    <a href="/FAQ/Money" data-toggle="tooltip" class="credit" title="" data-original-title="点击了解">
                        <span class="iconfont icon-money"></span>
                    </a>
                </span>
                <input class="form-control" data-rule-creditenough="[zyf-current-money]" data-val="true" data-val-number="字段 悬赏帮帮币 必须是一个数字。" data-val-regex="* 悬赏帮帮币只能为正整数" data-val-regex-pattern="^[1-9][0-9]*$" data-val-required="* 悬赏帮帮币不能为空" id="Reward" name="Reward" placeholder="正整数，建议10枚以上" type="text" value="" zyf-problem-reward-amount="">
                <span class="input-group-addon">枚</span>
            </div>
            <a href="/FAQ/Money#gain" class="pull-right"><span class="fa fa-question-circle"></span> 如何获得“帮帮币”</a>
            <span class="field-validation-valid" data-valmsg-for="Reward" data-valmsg-replace="true"></span>
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary loading" value="发布" zyf-submit-once="" zyf-exclude-draft="">
            <button type="button" class="btn btn-default" data-toggle="tooltip" title="" zyf-submit-once="" zyf-write-draft="" data-original-title="存为草稿">保存</button>
            <small class="text-success" zyf-article-draft-remind=""></small>
            <input type="hidden" name="draftId" zyf-draft-hide-id="">
        </div>
    </div>*@
